<h2 class="m-3 text-center">Welcome to Home Page</h2>
<div class="text-center">
Not a user &nbsp;
    <%= link_to " Sign Up now...", users_create_path  %>
    <br>
    Already a user &nbsp;

    <%= link_to " Login now", users_login_path %>
</div>